@media screen and (max-width: 700px){
    .top-footer{
        padding: 30px 0;

        &__columns{
            flex-wrap: wrap;
            align-items: flex-start;
        }

        &__column{
            max-width: calc(50% - 10px);
            margin-right: 0;

            &:last-child{
                max-width: 100%;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 500px){
    .top-footer{
        &__column{
            max-width: 100%;
            margin: auto;
            margin-top: 30px;

            &:first-child{
                margin-top: 0;
            }
        }
    }
}